/* TILES AND LETTERS ARE h5 */
h5 {
  margin:0px
}

#gameRow {
  width: 100%;
  padding: 1vw 0px 1vw 0px;
}

/* SMALL SCREEN STYLING */
@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 600px){
  #handTile, #gridSquare{
    width: 8.5vw !important;
    height: 8.5vw !important;
    padding: 1vw !important;
    margin: 1 !important;
  }
  #gridRow {
    height: 8.5vw
  }
  #swapTile {
    background-color: limegreen;
    border-style:inset;
    width: 18vw !important;
    height: 18vw !important;
    position: relative;
    padding:1vw;
    left: 25%;
  }
  h5{
    font-size: medium;
    margin: 2px;
  }
}
/* MEDIUM SCREEN STYLING */
@media only screen 
and (min-device-width : 601px)
and (max-device-width : 992px){
  #handTile, #gridSquare{
    width: 8vw !important;
    height: 8vw !important;
    padding: 1vw !important;
    margin: 1 !important;
  }
  #gridRow {
    height: 8vw
  }
  #swapTile {
    background-color: limegreen;
    border-style:inset;
    width: 16vw !important;
    height: 16vw !important;
    position: relative;
    padding:1vw;
    left: 25%;
  }
  h5{
    font-size: xx-large;
    margin: 2px;
  }
}

/* LARGE SCREEN STYLING */
@media only screen 
and (min-device-width : 993px){
  #handTile #gridSquare {
    width: 4vw !important;
    height: 4vw !important;
  }
  #gridRow {
    height: 4vw
  }
  #gridBoardRow{
    width: 46%
  }
  #swapTile {
    background-color: limegreen;
    border-style:inset;
    width: 9vw !important;
    height: 9vw !important;
    position: relative;
    padding:1vw;
    left: 25%;
  }
}