h5 {
  margin:0px
}

/* SMALL SCREEN STYLING */
@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 995px){
  #handTile, #gridSquare{
    width: 8.5vw !important;
    height: 8.5vw !important;
    padding: 1vw !important;
    margin: 1 !important;
    /* border: 1px !important; */
  }
  #gridRow {
    height: 8.5vw
  }
  #swapTile {
    background-color: green;
    width: 17.5vw !important;
    height: 17.5vw !important;
    position: relative;
    padding:1vw;
    left: 30%;
  }
}

/* NORMAL SCREEN STYLING */
@media only screen 
and (min-device-width : 996px){
  #handTile #gridSquare {
    width: 4vw !important;
    height: 4vw !important;
  }
  #gridRow {
    height: 4vw
  }
  #swapTile {
    background-color: green;
    width: 8vw !important;
    height: 8vw !important;
    position: relative;
    padding:1vw;
    left: 25%;
  }
}